body {
  margin: 0;
  padding: 0;
}

/* .ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

header {
  background-image: url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding-top: 9%;
}

.titulo {
  /* padding-top: 10%; */
  font-family: "Ruslan Display", sans-serif;
  font-size: 55px;
}

label {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
